* {
  margin: 0px;
  padding: 0px;
}
pre{
  background-color: rgb(83, 81, 81);
  color: whitesmoke;
  border-left: solid 3px tomato;
  padding: 5px;
  margin: 15px;
  display: block;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-overflow: clip;
}
code{
  font-family: monospace;
  padding: 4px;
  line-height: 20px;
  white-space: pre-wrap;
  transition: 2s;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.myBtn{
  padding: 7px;
  font-size: 17px;
  margin: 2px;
  border-radius: 2px;
  border: 0;
  color: rgb(149, 223, 162);
  background-color: transparent;
  border: solid 2px rgb(149, 223, 162);
}

.myBtn:hover{
  background-color: rgb(149, 223, 162);
  box-shadow: 1px 1px 5px 2px #224b4b;
  color: rgb(63, 66, 68);
}

#testForm3{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 300px;
  flex: 1;
  margin: 6px;
  box-shadow: 1px 1px 5px 2px #224b4b;
  border-radius: 10px;
  background-color: steelblue;
  text-align: left;
  padding: 10px;
  margin-left: 10px;
}#testForm3 *{
  margin: 3px;
}
.holder{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 6px;
  box-shadow: 1px 1px 5px 2px #224b4b;
  border-radius: 10px;
  background-color: steelblue;
  text-align: left;
  padding: 10px;
  margin-left: 10px;
}.holder *{
  margin: 3px;
}
textarea{
  height: 100px;
  width: calc(100% - 13px);
}

.form-control{
  text-transform: uppercase;
  padding: 3px;
  font-size: 90%;
  border-radius: 5px;
  border: none;
}.form-control:focus{
  outline: none;
}

.holder > textarea{
  flex: 1;
}

#apiTest01{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}
#apiTest01 *{
  flex-grow: 1;
  flex-basis: 0;
}

body{
  background: linear-gradient(170deg, #21b5c0 50%, #36b340);
  background-attachment: fixed;
}

#container{
  color: white;
  width: 70%;
  background-color: rgb(97, 97, 97);
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#container div{
  margin: 10px;
}

footer{
  margin: 0px;
  padding: 5px;
  font-size: small;
  text-align: center;
  background-color:rgb(63, 57, 57);
  color: white;
}

footer a{
  color: white;
  text-decoration: underline;
}